*{ margin:0; padding:0}
ul{ list-style:none}
img{ border:0}
body
{
	font-family:"微软雅黑","宋休",Verdana;
	font-size: 13px;
	line-height: 15px;
	color: #333333;
	height: 100%;
}
#HuiS
{
	overflow: hidden;
}
.dataTimeHS
{
	float:left;
    margin-top:-9px;
    margin-left:200px;
}
.dateShowHS
{
	float: left;
	padding-right: 30px;
}
#titleHui{
	height: auto;
	width: 500px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}
#contentKuang
{
	width: 1050px;

	margin-right: auto;
	margin-left: auto;
	padding: 5px;
	overflow: hidden;
	margin-top: 0px;
}
#tool_btn
{
	padding: 5px 5px 5px 50px;
	margin-left: 30px;
	float:left;
}
.itemSelect
{
	padding-top: 20px;
	padding-left: 4px;
}
.selectNewDate
{
	height: 18px;
	width: 110px;
	float: left;
	padding-right: 10px;
}
.tableTitleF
{
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C9C9C9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C9C9C9;
	line-height: 24px;
	height: 24px;
	width: 8.3%;
	text-align: center;
	font-size: 14px;
	padding: 0px;
}
.tableTitleH
{
	background-color: #D3EDD7;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C9C9C9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C9C9C9;
	line-height: 24px;
	height: 24px;
	width:8.3%;
	text-align: center;
	font-size: 14px;
	padding: 0px;
}
#tabbtnH{
	height: 26px;
	width: 1100px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}
#tabbtnH ul li{
	line-height: 26px;
	float: left;
	height: 26px;
	width: 122px;
	text-align: center;
	font-size: 14px;
	color: #777777;
}
#tabbtnH ul li .tabHighlight{
	height: 26px;
	width: 122px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background-image: url(../tab.png);
	background-repeat: no-repeat;
	display: block;
}
#tabbtnH ul li a{ color:#777777; text-decoration:none;	display: block;}
#tabbtnH ul li a:hover{ color:#179025; text-decoration:none;	display: block;	background-image: url(../tabo.png);}
#zonghe_duibi{
	height: 36px;
	width: 194px;
	float: left;
	margin-left: 6px;
}
#name_duibi{
	line-height: 36px;
	float: left;
	height: 36px;
	width: 70px;
	text-align: right;
}
#tool_duibi{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #d7d7d7;
	height: 38px;
	width: 1100px;
	padding-right: 4px;
	padding-left: 4px;
}
.tool_text_duibi{
	height: 36px;
	line-height: 36px;
	float: left;
	width: 40px;
	margin-left: 10px;
}
.tool_text_duibiT
{
	height: 36px;
	line-height: 36px;
	float: left;
	padding-left: 4px;
}
.selectDate{
	height: 36px;
	width: 110px;
	float: left;
}
.selectDateBG{
	background-image: url(../selectDateBG.png);
	background-repeat: no-repeat;
	height: 22px;
	width: 108px;
	margin-top: 6px;
	padding: 1px;
}
#tool_text22
{
	height: 36px;
	line-height: 36px;
	float: left;
	margin-left: 0px;
	text-align: left;
	padding-right: 10px;
}
.shortCon{
	float: left;
	height: 36px;
}
.shortdan{
	float: left;
	height: 36px;
	line-height: 36px;
	text-align: center;
	width: 80px;
}
.shortdan_highlight{
	float: left;
	height: 24px;
	line-height: 24px;
	text-align: center;
	width: 60px;
	color: #fff;
	background-color: #1F982D;
	border: 1px solid #078015;
	margin-top: 6px;
}
.shortdan_highlight a{ color:#fff; text-decoration:none;}
.shortdan_highlight a:hover{ color:#fff; text-decoration:none;}
.shortdan_text{
	height: 24px;
	line-height: 24px;
	text-align: center;
	width: 70px;
	float: left;
}
.shortdan_close{
	width: 10px;
	float: left;
	padding-top: 7px;
	padding-bottom: 7px;
}
#type_select1row
{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #d7d7d7;
	height: 37px;
	width:1046px;
	padding-top: 8px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin-left:auto;
	margin-right:auto;
}
#type_select2row
{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #d7d7d7;
	height: 37px;
	width:1046px;
	padding-top: 8px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin-left:auto;
	margin-right:auto;
}
#zonghe_duibi{
	height: 36px;
	width: 900px;
	float: left;
	margin-left: -6px;
}

#radio{
	background-color: #f2f2f2;
	border: 1px solid #ddd;
	height: 24px;
	width: 60px;
	margin-top: 6px;
	text-align: center;
	display: block;
	line-height: 24px;
	float: left;
}
#radio a{ color:#777777; text-decoration:none;	display: block;}
#radio a:hover{ color:#179025; text-decoration:none;	display: block;}
#radio_h{
	background-color: #1f982d;
	border: 1px solid #078015;
	height: 24px;
	width: 60px;
	margin-top: 6px;
	text-align: center;
	display: block;
	line-height: 24px;
	float: left;
	color: #fff;
}
#radio_h a{ color:#fff; text-decoration:none;	display: block;}
#radio_h a:hover{ color:#fff; text-decoration:none;	display: block;}
.checkBox
{
	padding-right: 40px;
}
.forecast
{
	margin-right: 20px;
}
.forecastArea
{
   font-size:14px;
   font-family:微软雅黑;
   float:right;
   margin-right:15%;
  color:Red;
  font-weight:bold;
}

.forecastArea2
{
   font-size:14px;
   font-family:微软雅黑;
   float:right;
}

.forecastSite
{
	  font-family:微软雅黑;
	  font-size:14px;
     float:right;
      margin-right:10%;
  color:Red;
  font-weight:bold;
}

#tool_textNew{
	height: 36px;
	line-height: 36px;
	float: left;
	margin-left: 6px;
}

.button_default, .BtnStyle {
height: 20px;
border-color: #4a95c9;
border-width: 1px;
margin: 0px;
padding: 1px 4px 1px 4px;
background: url(../../Images/btn_bg_default.gif) repeat-x;
font-size: 12px;}


.tabletitleNews{
	background-color: #D3EDD7;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C9C9C9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C9C9C9;
	line-height:15px;
	height: 20px;
	width: 9%;
	text-align: center;
	font-size: 12px;
	padding: 2px;
	white-space:nowrap;
}

.groupTitle {
height: 20px;
font-weight: bold;
line-height: 20px;
clear: both;
margin-left: 5px;

text-indent: 15px;
}
.siteContainer {
margin-left: 10px;
margin-bottom: 5px;
height: auto;
clear: both;
border-bottom: dashed 1px #999999;
}
.page_top {
height: 26px;
min-width: 600px;
background: url(../../Images/img/navGroupLine.jpg) bottom repeat-x;
padding-top: 3px;
white-space: nowrap;
}
.titleName {
float: left;
overflow: visible;
font-weight: bold;
line-height: 25px;
height: 25px;
white-space: nowrap;
}
    .countyContainer{min-height:85px; border-bottom:solid 1px #999999; clear:both;}
    .groupTitle{height:20px; font-weight:bold; line-height:20px; clear:both;  margin-left:5px; background:url(../../../Img/Icons/spindown.gif) left no-repeat; text-indent:15px;}
    .siteContainer{margin-left:10px; margin-bottom:5px; height:auto; clear:both; border-bottom:dashed 1px #999999;}
    .siteItem{margin:5px; min-width:130px; display:inline; }
    .siteContainer input {margin-left:5px;  display:block; float:left; width:20px; }
    .siteContainer label{margin-left:2px;  display:block; float:left; width:60px; white-space:nowrap;  }
.Logtablerow {
line-height: 26px;
height: 26px;
width: 10%;
text-align: center;
font-size: 13px;
padding: 2px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #CCCCCC;
}