body { 
	font-family:"微软雅黑","宋休",Verdana;
	font-size: 14.5px;
	line-height: 25px;
	height: 100%;
	overflow-x: hidden;
	padding-top:5px;
	margin:0px;
	padding:0px;
}
.form-control
{
    height:21px;
    padding: 6px 12px;
}
.header .control-label
{
    padding-right:0;
}
.center {
    text-align: center;
}