body 
{
    margin:0;
    padding:0;
    
     background-color: #ebebeb;
}
.map
{    
background-color: White;
    float: left;
width: 47%;
margin-top: 7px;
border: white 5px solid;
position:relative;
height: 760px;
margin-left: 10px;
overflow: hidden;
}
.mapControl
{
    width: 100%;
    height: 100%;
}
td,th
{
    text-align:center;
    /*width:25%;*/
    height:30px;
    font-size:14px;
    /*border:2px solid White;*/
}
.table2 td
{    
}
select
{
    width:95%;
}
tr th
{
    text-align:center;
    font-family: "宋体";
color: #2d3533;
font-size: 13.5px;
}
input
{
    text-align:center;
    border:0px;
}
.aqiLevelInput
{
    background-color:#eff2f1;
}
.content
{
width: 563px;
float: right;
margin-right: 10px;
margin-top: 7px;
}
.tableContent table
{
    height:100%;
    margin-left:auto;
    margin-right:auto;
    border-collapse:collapse;
}
.tableTop
{
    width:100%;
    background-color:#f8f8f8;
   
}
.titleTop
{
    height:40%;
    width:100%;
    background-color:Green;
}
.titleContent
{
    height:30px;
    width:100%;     
   
}
.attrName
{
    font-family: "微软雅黑";
font-size: 14.5px;
    text-align:right;
    width:110px;
}
.attrValue
{
        color: #bc8363;
font-family: "微软雅黑";
font-size: 14.5px;
    text-align:left;
    width:250px;
}
.titleContent table
{
     width:1110px;
    height:100%;
    font-family: "微软雅黑";
    font-size:14.5px;
}
.tableContent
{
    /*width:100%;*/
}
.textContent
{
    width:100%;
    border: 0px;
    width: 523px;
border: 0px;
height: 200px;
overflow-y: auto;
margin-left: auto;
margin-right: auto;
}
.hazeLevel
{
    border-radius:5px;
    width:100px;
}

.table2 tr
{
    height:31px;
    border-bottom:1px solid White;
    /*border-bottom: 1px #CCC dotted;
    border-right: 1px #CCC dotted;
    background-color: #e4eaf5;*/
}
.c_RegionName {
    background-color: #41b083;
    color:White;
    width:100px;
    height:31px;
}
.firstPollutionSel
{
    width:100px;
    border-radius: 5px;
    color:#18895b
}

.button
{
    border: 1px solid #b0b0b0;
   /* background: url(../images/aqi/btn_bg.jpg) repeat-x;*/
    font: 12px/20px "宋体";
    padding: 0 15px;
   float:right;
    margin-left:3px;
    margin-top: 3px;
    color:Black;
    height: 20px;
line-height: 20px;
}
.editBox
{
    width:100%;
    height:40px;
    border:1px solid Gray;
}
.editBox2
{
    width: 100%;
    height: 60px;
    border: 1px solid Gray;
    margin-top: 10px;
}
.editBtns
{
    width: 90%;
height: 30px;
margin-left: auto;
margin-right: auto;
}
.editBtns2
{
position: absolute;
bottom: 0px;
width: 100%;
background-color: white;
opacity: 0.63;
height: 35px;
line-height: 35px;
z-index: 999;    
}
.titlePoint
{
   width: 20px;
height: 30px;
height: 100%;
background: url(../AQI/sh/y.png) no-repeat center;
float: left;     
}
.partTitle
{
    color:#7e8181;
    font-family:"宋体";
    font-size:14.5px;
}
input:hover
{
    cursor:pointer;
}
.editLabel
{
    width: 100%;
    height: 28px;
    background-color: #f0f8f6;
    line-height: 32px;
    /*margin-top: -9px;
    margin-left: 10px;
    position:absolute;*/
    color:#7e8181;
}
.editLabel2
{
    width: 170px;
    height: 20px;
    background-color: Blue;
    margin-top: -29px;
    margin-left: 10px;
    position:absolute;
    color:White;
}
.textContent textarea
{
    width:99%;
}
.submitArea
{
    text-align: center;
    padding-bottom: 10px;
}
.totalContent
{
margin-left: auto;
margin-right: auto;
background-color: #ebebeb;
width: 100%;
}
.btnArea
{
    height: 40px;
position: fixed;
width: 100%;
bottom: 0px;
background-color: white;
    opacity:0.60;
    z-index: 999;
}
.btns
{
  width: 350px;
height: 35px;
margin-left: auto;
margin-right: auto;

}
.foreBtn
{
    width: 70px;
    height: 20px;
    background-color: Gray;
    float: left;
    border-radius: 10%;
    line-height: 20px;
    color: White;
    margin-left: 5px;
    text-align: center; 
}
.aqiLevelTd
{
    background-color: #eff2f1;
    width:120px;
}
.aqiItemTd
{
    background-color:#eff2f1;
    width:120px;
}
.aqiValueTd,.aqiValue
{
        background-color: #eff2f1; 
        width:120px;   
}
.hazeTd
{
    background-color:#eff2f1;
}
.foreBtn:hover,.button:hover,.button_Bottom:hover,.button_Float:hover
{
    cursor:pointer;
}
.button:hover,.button_Bottom:hover,.button_Float:hover
{
    background-color:#57b325;
    color:White;
}
.backgroundColor_orange {
    background-color: Orange;
}
.textPart,.tablePart
{
    background-color:White;
}
.textPart
{
 margin-top:15px;
 position: relative;   
}
.outLine
{
    width:100%;
    background-color:#ebebeb;
    height:100%;
}

.districtArea
{
    height: 616px;
    width: 513px;
    background: url("../AQI/sh/map-base.png?v=20160507") no-repeat;
    position: relative;
    z-index:333;
    margin-left: 50px;
    margin-right: auto;
}

.display
{
    display:block;
}
.hide
{
    display:none;
}
.airQuaUl,.airpolConUl
{
    width:99px;
    position:absolute;
    /*padding-left:20px;*/
    /*height:200px;*/
    z-index:3;
    border:1px solid #c8c8c8;   
    overflow-y:auto;
    /*height:144px;*/
    background-color:White;
    margin-left: 31px;
}
.firstPolUl li,.hazeLevelUl li
{
    text-align:left;
}
.aiqQuaDiv,.airpolConDiv
{
   width:82px;
   margin-left: auto;
   margin-right: auto;
   height: 24px;
   border-radius: 5px;
   background-color: white;
   line-height: 24px;
}
.airQuaSelect,.airpolConSelect
{
    text-align:center;
}

.selIcon
{
margin-top: 10px;
width: 20px;
height: 10px;
background: url(../AQI/sh/arrow-n.png) no-repeat;
float: right;
margin-right: 2px;
}
.selIcon:hover
{
    background: url(../AQI/sh/arrow-d.png) no-repeat;
    cursor:pointer;
}
.airpolConText,.airQuaText
{
width: 55px;
height: 24px;
text-align: right;
float: left;

}
#airimageshow
{
    width:100%;
}
.PM25
{
    width:76px;
    height:24px;
}
.airpolConUl li div,.airQuaUl li div
{
    width:100%;
    color:#727272;
    text-align:center;
    height:24px;
    line-height:24px;
}

.airQuaUl li div:hover,.airpolConUl li div:hover
{
    background-color:#daf5e9;
    cursor:pointer;
}

/*上海各行政区颜色图片*/
.BaoShanArea
{    
    width: 102px;
    height: 128px;
top: 184px;
left: 195px;
position: absolute;
background: url(../AQI/sh/baoshan-1.png) no-repeat;
z-index:999;
}
.BaoShanArea_1
{    
background: url(../AQI/sh/baoshan-1.png) no-repeat;
}
.BaoShanArea_2
{    
background: url(../AQI/sh/baoshan-2.png) no-repeat;
}
.BaoShanArea_3
{    
background: url(../AQI/sh/baoshan-3.png) no-repeat;
}
.BaoShanArea_4
{    
background: url(../AQI/sh/baoshan-4.png) no-repeat;
}
.BaoShanArea_5
{    
background: url(../AQI/sh/baoshan-5.png) no-repeat;
}
.BaoShanArea_6
{    
background: url(../AQI/sh/baoshan-6.png) no-repeat;
}

.ChongMing
{
    
    width: 353px;
    height: 298px;
top: 0px;
left: 138px;
position: absolute;
background: url(../AQI/sh/chongming-1.png) no-repeat;
z-index:999;
}
.ChongMing_1
{
    background: url(../AQI/sh/chongming-1.png) no-repeat;
}
.ChongMing_2
{
    background: url(../AQI/sh/chongming-2.png) no-repeat;
}
.ChongMing_3
{
    background: url(../AQI/sh/chongming-3.png) no-repeat;
}
.ChongMing_4
{
    background: url(../AQI/sh/chongming-4.png) no-repeat;
}
.ChongMing_5
{
    background: url(../AQI/sh/chongming-5.png) no-repeat;
}
.ChongMing_6
{
    background: url(../AQI/sh/chongming-6.png) no-repeat;
}


.FengXian
{
        width: 192px;
    height: 123px;
left: 219px;
top: 442px;
position: absolute;
background: url(../AQI/sh/fengxian-1.png) no-repeat;
z-index:999;
}
.FengXian_1
{
    background: url(../AQI/sh/fengxian-1.png) no-repeat;
}
.FengXian_2 {
    background:url(../AQI/sh/fengxian-2.png) no-repeat;
}
.FengXianSym_2 {
    background: url(images/add.png) no-repeat center center;
}
.FengXian_3
{
    background: url(../AQI/sh/fengxian-3.png) no-repeat;
}
.FengXian_4
{
    background: url(../AQI/sh/fengxian-4.png) no-repeat;
}
.FengXian_5
{
    background: url(../AQI/sh/fengxian-5.png) no-repeat;
}
.FengXian_6
{
    background: url(../AQI/sh/fengxian-6.png) no-repeat;
}

.JiaDing
{
    width: 122px;
    height: 142px;
left: 109px;
top: 191px;
position: absolute;
background: url(../AQI/sh/jiading-1.png) no-repeat;
z-index:999;
}
.JiaDing_1
{
    background: url(../AQI/sh/jiading-1.png) no-repeat;
}
.JiaDing_2
{
    background: url(../AQI/sh/jiading-2.png) no-repeat;
}
.JiaDing_3
{
    background: url(../AQI/sh/jiading-3.png) no-repeat;
}
.JiaDing_4
{
    background: url(../AQI/sh/jiading-4.png) no-repeat;
}
.JiaDing_5
{
    background: url(../AQI/sh/jiading-5.png) no-repeat;
}
.JiaDing_6
{
    background: url(../AQI/sh/jiading-6.png) no-repeat;
}

.JinShan
{
        width: 212px;
    height: 141px;
left: 58px;
top: 475px;
position: absolute;
background: url(../AQI/sh/jinshan-1.png) no-repeat;
z-index:999;
}
.JinShan_1
{
   background: url(../AQI/sh/jinshan-1.png) no-repeat; 
}
.JinShan_2
{
   background: url(../AQI/sh/jinshan-2.png) no-repeat; 
}
.JinShan_3
{
   background: url(../AQI/sh/jinshan-3.png) no-repeat; 
}
.JinShan_4
{
   background: url(../AQI/sh/jinshan-4.png) no-repeat; 
}
.JinShan_5
{
   background: url(../AQI/sh/jinshan-5.png) no-repeat; 
}
.JinShan_6
{
   background: url(../AQI/sh/jinshan-6.png) no-repeat; 
}
.MinHang
{
      width: 150px;
    height: 148px;
left: 171px;
top: 316px;
position: absolute;
background: url(../AQI/sh/minhang-1.png) no-repeat;
z-index:999;
}
.MinHang_1
{
    background: url(../AQI/sh/minhang-1.png) no-repeat;
}
.MinHang_2
{
    background: url(../AQI/sh/minhang-2.png) no-repeat;
}
.MinHang_3
{
    background: url(../AQI/sh/minhang-3.png) no-repeat;
}
.MinHang_4
{
    background: url(../AQI/sh/minhang-4.png) no-repeat;
}
.MinHang_5
{
    background: url(../AQI/sh/minhang-5.png) no-repeat;
}
.MinHang_6
{
    background: url(../AQI/sh/minhang-6.png) no-repeat;
}
.PuDong
{
     width: 248px;
    height: 285px;
left: 265px;
top: 247px;
position: absolute;
background: url(../AQI/sh/pudong-1.png) no-repeat;
z-index:999;
}
.PuDong_1
{
    background: url(../AQI/sh/pudong-1.png) no-repeat;
}
.PuDong_2
{
    background: url(../AQI/sh/pudong-2.png) no-repeat;
}
.PuDong_3
{
    background: url(../AQI/sh/pudong-3.png) no-repeat;
}
.PuDong_4
{
    background: url(../AQI/sh/pudong-4.png) no-repeat;
}
.PuDong_5
{
    background: url(../AQI/sh/pudong-5.png) no-repeat;
}
.PuDong_6
{
    background: url(../AQI/sh/pudong-6.png) no-repeat;
}
.QingPu
{
     width: 209px;
    height: 184px;
left: 0px;
top: 298px;
position: absolute;
background: url(../AQI/sh/qingpu-1.png) no-repeat;
z-index:999;
}
.QingPu_1
{
    background: url(../AQI/sh/qingpu-1.png) no-repeat;
}
.QingPu_2
{
    background: url(../AQI/sh/qingpu-2.png) no-repeat;
}
.QingPu_3
{
    background: url(../AQI/sh/qingpu-3.png) no-repeat;
}
.QingPu_4
{
    background: url(../AQI/sh/qingpu-4.png) no-repeat;
}
.QingPu_5
{
    background: url(../AQI/sh/qingpu-5.png) no-repeat;
}
.QingPu_6
{
    background: url(../AQI/sh/qingpu-6.png) no-repeat;
}
.SongJiang
{
     width: 156px;
    height: 140px;
top: 366px;
left: 73px;
position: absolute;
background: url(../AQI/sh/songjiang-1.png) no-repeat;
z-index:999;
}
.SongJiang_1
{
    background: url(../AQI/sh/songjiang-1.png) no-repeat;
}
.SongJiang_2
{
    background: url(../AQI/sh/songjiang-2.png) no-repeat;
}
.SongJiang_3
{
    background: url(../AQI/sh/songjiang-3.png) no-repeat;
}
.SongJiang_4
{
    background: url(../AQI/sh/songjiang-4.png) no-repeat;
}
.SongJiang_5
{
    background: url(../AQI/sh/songjiang-5.png) no-repeat;
}
.SongJiang_6
{
    background: url(../AQI/sh/songjiang-6.png) no-repeat;
}
.XuHui
{
     width: 110px;
    height: 129px;
  left: 207px;
    top: 269px;
position: absolute;
background: url(../AQI/sh/xuhui-1.png) no-repeat;
z-index:999;
}
.XuHui_1
{
    background: url(../AQI/sh/xuhui-1.png) no-repeat;
}
.XuHui_2
{
    background: url(../AQI/sh/xuhui-2.png) no-repeat;
}
.XuHui_3
{
    background: url(../AQI/sh/xuhui-3.png) no-repeat;
}
.XuHui_4
{
    background: url(../AQI/sh/xuhui-4.png) no-repeat;
}
.XuHui_5
{
    background: url(../AQI/sh/xuhui-5.png) no-repeat;
}
.XuHui_6
{
    background: url(../AQI/sh/xuhui-6.png) no-repeat;
}

.mapTitle
{
width: 100%;
position: absolute;
top: 0;
height: 40px;
color: #7e8181;
font-family: "宋体";
font-size: 19.5px;
line-height: 40px;

z-index: 999;
}
.mapDate
{
    width: 100%;
position: absolute;
top: 30px;
height: 40px;
color: Black;
font-family: "宋体";
font-size: 19.5px;
font-weight:bold;
line-height: 40px;
left: 10px;
z-index: 999;
}
.mapDate span
{
    
}
.button_Bottom
{
    border: 1px solid #b0b0b0;
background: url(../images/aqi/btn_bg.jpg) repeat-x;
font: 12px/20px "宋体";
padding: 0 15px;

margin-left: 5px;
margin-top: 3px;
color: black;
height: 20px;
line-height: 20px;
width: 40px;
text-align: center;
float: left;
}

.mapMask
{
 width:100%;
 height:100%;
 background: url("../AQI/sh/map-line.png?v=20160507") no-repeat;  
 opacity:0.5;
  z-index:999;
 position:relative;
}
.mapTitle span
{

font-weight: bold;
}
.textPrev
{
    width:100%;
    border: 0px;
}
.btnTd
{
width: 360px;
float: right;
}
.button_Float
{
border: 1px solid #b0b0b0;
font: 12px/20px "宋体";
padding: 0 15px;
float: right;
color: black;
height: 25px;
line-height: 25px;
margin-right: 10px;
margin-top: 8px;
}
.mapName
{
    color:#3A5CE6;
    font-size:25px;
}
.legend
{
   /*background: url(../AQI/sh/Legend.png) no-repeat center;
   width:127px;
   height:190px;
   position: absolute !important;
right: -90px;
    bottom: 30px;*/
    background: url(../AQI/sh/Legend.jpg) no-repeat center;
    width: 213px;
    height: 190px;
    position: absolute !important;
    right: -173px;
    bottom: -3px;
    background-size: 145px;
}
.pubTime
{
    position: absolute;
    right: 6px;
    bottom: 10px;
}






/*王斌  2018-06-13*/
.symbolTd {
    background-color: #eff2f1;
    width: 120px;
}
.symbolConUl {
    width: 99px;
    position: absolute;
    z-index: 3;
    border: 1px solid #c8c8c8;
    overflow-y: auto;
    background-color: White;
    margin-left: 31px;
}
.symbolConDiv {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 24px;
    border-radius: 5px;
    background-color: white;
    line-height: 24px;
}
.symbolConText {
    width: 75px;
    height: 24px;
    text-align: right;
    float: left;
}
.symbolConUl li div:hover
{
    background-color:#daf5e9;
    cursor:pointer;
}
.yangshaSym {
    background-image: url('images/01.png');
}
.fuchenSym {
    background-image: url('images/02.png');
}
.shachenSym {
    background-image: url('images/03.png');
}
.maiSym {
    background-image: url('images/04.png');
}
.guanghuaxueSym {
    background-image: url('images/05.png');
}
.symSize {
    width:33px;
    height:33px;
    position: absolute;
}
#XuHui .symSize{
    left: 48px;
    top: 26px;
}
#PuDong .symSize{
    left: 89px;
    top: 99px;
}
#MinHang .symSize{
    left: 60px;
    top: 65px;
}
#BaoShanArea .symSize{
    left: 35px;
    top: 31px;
}
#SongJiang .symSize{
    left: 77px;
    top: 37px;
}
#JinShan .symSize{
    left: 133px;
    top: 71px;
}
#QingPu .symSize{
    left: 103px;
    top: 56px;
}
#FengXian .symSize{
    left: 41px;
    top: 35px;
}
#JiaDing .symSize{
    left: 48px;
    top: 26px;
}
#ChongMing .symSize{
    left: 141px;
    top: 78px;
}