.x-pivotgrid .x-grid3-header-offset table td {
    font-size: 12px;
}
.x-pivotgrid .x-grid3-row-headers table td {
    font-size: 12px;
}
.x-grid3-header-title {
    font-size: 12px;
}
.x-date-mp td {
	font:normal 12px arial, helvetica,tahoma,sans-serif;
}
.ext-el-mask-msg div {
    font:normal 12px tahoma, arial, helvetica, sans-serif;
}
.loading-indicator {
    font-size: 12px;
}
.x-tab-strip span.x-tab-strip-text {
	font:normal 12px tahoma,arial,helvetica;
}
.x-form-invalid-msg {
    font:normal 12px tahoma, arial, helvetica, sans-serif;
}
.x-small-editor .x-form-field {
    font:normal 12px arial, tahoma, helvetica, sans-serif;
}
.ext-webkit .x-small-editor .x-form-field {
    font:normal 12px arial, tahoma, helvetica, sans-serif;
}
.x-fieldset legend {
    font:bold 12px tahoma, arial, helvetica, sans-serif;
}
.x-btn{
	font:normal 12px tahoma, verdana, helvetica;
}
.x-btn button{
    font:normal 12px arial,tahoma,verdana,helvetica;
}
.x-toolbar td,.x-toolbar span,.x-toolbar input,.x-toolbar div,.x-toolbar select,.x-toolbar label{
    font:normal 12px arial,tahoma, helvetica, sans-serif;
}
.x-grid3-row td, .x-grid3-summary-row td{
	font:normal 12px/13px arial, tahoma, helvetica, sans-serif;
}
.x-grid3-hd-row td {
	font:normal 12px/15px arial, tahoma, helvetica, sans-serif;
}
.x-grid3-topbar, .x-grid3-bottombar{
	font:normal 12px arial, tahoma, helvetica, sans-serif;
}
.x-grid-group-hd div.x-grid-group-title {
    font:bold 12px tahoma, arial, helvetica, sans-serif;
}
.x-grid-empty {
    font:normal 12px tahoma, arial, helvetica, sans-serif;
}
.x-dd-drag-ghost{
	font: normal 12px arial, helvetica, sans-serif;
}
.x-tree-node{
	font: normal 12px arial, tahoma, helvetica, sans-serif;
}
.x-date-middle,.x-date-left,.x-date-right {
	font:bold 12px "sans serif", tahoma, verdana, helvetica;
}
.x-date-inner a {
    font:normal 12px arial, helvetica,tahoma,sans-serif;
}
.x-date-mp td {
	font:normal 12px arial, helvetica,tahoma,sans-serif;
}
.x-date-mp-btns button {
	font:normal 12px arial, helvetica,tahoma,sans-serif;
}
.x-tip .x-tip-mc {
    font: normal 12px tahoma,arial,helvetica,sans-serif;
}
.x-tip .x-tip-header-text {
    font: bold 12px tahoma,arial,helvetica,sans-serif;
}
.x-tip .x-tip-body {
    font: normal 12px tahoma,arial,helvetica,sans-serif;
}
.x-menu-list-item{
	font:normal 12px arial,tahoma,sans-serif;
}
.x-combo-list-hd {
    font:bold 12px tahoma, arial, helvetica, sans-serif;
}
.x-combo-list-small {
    font:normal 12px tahoma, arial, helvetica, sans-serif;
}
.x-panel-header {
    font-size: 12px;
}
.x-panel-tl .x-panel-header {
	font:bold 12px tahoma,arial,verdana,sans-serif;
}
.x-panel-mc {
    font: normal 12px tahoma,arial,helvetica,sans-serif;
}
.x-panel-fbar td,.x-panel-fbar span,.x-panel-fbar input,.x-panel-fbar div,.x-panel-fbar select,.x-panel-fbar label{
    font:normal 12px arial,tahoma, helvetica, sans-serif;
}
.x-window-tl .x-window-header {
	font:bold 12px tahoma,arial,verdana,sans-serif;
}
.x-window-mc {
    font: normal 12px tahoma,arial,helvetica,sans-serif;
}
.x-progress-text {
    font-size:12px;
}
.x-list-header-inner div em {
    font:normal 12px arial, tahoma, helvetica, sans-serif;
}
.x-list-body dt em {
    font:normal 12px arial, tahoma, helvetica, sans-serif;
}
