body 
{
    font-size:14px;
     min-width:1230px;
      background-color: #ebebeb;
}

.all
{
    background-color: #FFF;
    border: 2px solid #CCC;
    padding: 5px;
    width:100%;
    float: left; 
}
.tableTop
{
    width:100%;
    background-color:#f8f8f8;
   
}
.titleTop
{
    height:40%;
    width:100%;
    background-color:Green;
}
.titleContent
{
    height:30px;
    width:100%;     
   
}
.attrName
{
    font-family: "微软雅黑";
font-size: 14.5px;
    text-align:right;
    width:110px;
}
.attrValue
{
        color: #bc8363;
font-family: "微软雅黑";
font-size: 14.5px;
    text-align:left;
    width:250px;
}
.titleContent table
{
    width:1110px;
    height:100%;
    font-family: "微软雅黑";
    font-size:14.5px;
}
td,th
{
    text-align:center;
    width:20%;
    height:30px;
    font-size:14px;
}
.table1
{
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #CCC;
    table-layout: fixed;
}

.table1 th,.table1 td
{
    border-bottom: 1px solid #CCC;
}

.table1 th
{
    text-align:right;
}

.table1 td
{
    text-align:left;
}

.inputset
{
    width:100px;
}

.button
{
    color:#00F;
    padding: 0px 15px;
}

.button:hover
{
    color:#FFF;
    background:#CCC;
    padding: 0px 15px;
}

.submit
{
    padding: 5px;
    text-align:center;
}
.wordContent
{
    width: 950px;
    height:1300px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
background-color: #FFF;
}
.wordContent .contentTextBox
{
    height:200px;
}
.rightContent
{
  padding: 15px 15px 0 0;
   height:800px;
   overflow-y:auto;
    margin-left: auto;
    /* margin-right: auto; */
    width: 20%;
}
.total
{
    width:100%;
    height:100%;
    overflow-y:hidden;
}
.ct_left
{
    float: left;
    height: 28px;
    width: 190px;
    line-height: 28px;
    text-align: left;
    
}

.ct_right
{
    float: right;
    height: 28px;
    width: 40px;
    background-color:Green;
    background:url(../css/images/up.png) no-repeat center;
    
}
.tableTitle
{
font-size: 20px;
font-family: "仿宋";
width: 100%;
text-align: center;
padding-top: 50px;
}
.rightTable
{
    width:100%;
}
.contentTitle
{
    height:28px;
    width: 100%;
    background-color: #48d1cc;
}
.rightTable
{
    width:200px;
}
.rightTable td
{
    background-color:#e6e6fa;
}
.hide
{
    display:none;
}
.display
{
    display:block;
}
.imgArea
{
    height:332px;
    width:233px;
    margin:10px;
    border:1px solid Gray;
}
.upScroll
{
    height:30px;
    background:url(../css/images/up-v.png) no-repeat center;
  
}
.downScroll
{
     height:30px;
    background:url(../css/images/down-v.png) no-repeat center;
}
.upScroll:hover
{
    height:30px;
    background:url(../css/images/up-d.png) no-repeat center;
  
}
.downScroll:hover
{
     height:30px;
    background:url(../css/images/down-d.png) no-repeat center;
}
.img
{
    height:272px;

    text-align: center;

}
.scrollImg
{
     width: 280px; 
margin-left: 30px;
margin-top: 10px;
}
.right2bg {
    border: 1px solid #CCC;
    background-color: #F3F9FC;
    font: 12px/26px "宋体";
    text-align: left;
    color: #666;
    padding: 5px;
}
.queryTime
{
    width:100px;
}
.queryBtn
{
    margin-right:2px;
}

.copy
{
    text-align:right;
}
.listImg
{
    width:233px;
}
.right_1
{
    border:1px solid Gray;
}
.imgLi
{
    text-align:center;
}
.ct_right:hover,.upScroll:hover
{
    cursor:pointer;
}
.queryBtn:hover,.querybutton:hover
{
    cursor:pointer;
    color:Blue;
}
.content
{
    text-align:center;
}
.docTitle
{
height: 80px;
text-align: center;
font-size: 60px;
font-family: "仿宋";
font-weight: bolder;
padding-top: 140px;
color: red;
}
.issue
{
    text-align: center;
    font-family: "仿宋";
    font-size: 30px;
}
.contentText
{
    text-align: center;
    width:100%;
    margin-top: 20px;
}
.contentText_Bottom
{
width: 120px;
height: 30px;
line-height: 30px;

font-size: 20px;
font-family: "仿宋";
font-weight: bold;
float: left;
}
.docDate
{
font-size: 22px;
font-family: "仿宋";

float: left;

}
.ora
{
   font-size: 22px;
font-family: "仿宋";

float: right;

}

.contentTable
{
    margin-left: auto;
margin-right: auto;
width: 720px;
height: 650px;
word-wrap:break-word;
}
.contentTextBox
{
width: 750px;

font-size: 20px;
font-family: "仿宋";
border: 0px;
margin-top: 20px;
line-height: 2;
margin-left: auto;
margin-right: auto;
overflow-y:hidden;
}
.contentTextBox_Rich
{
width: 750px;
height: 265px;
font-size: 20px;
font-family: "仿宋";
border: 0px;
margin-top: 20px;
line-height: 1.5;
}
.contentTextBox_Bottom
{
width: 500px;
height: 30px;
font-size: 20px;
font-family: "仿宋";
border: 0px;
line-height: 1.5;
float: left;
margin-left: 10px;
}
.firstTitle
{
font-size: 20px;
font-family: "仿宋";
font-weight: bold;

margin-top: 20px;
margin-left: auto;
margin-right: auto;
width: 750px;
}
.editor
{

    float: left;
width: 250px;
}
.reporter
{
   float: left;
width: 250px;
}
.imgTitle
{
    text-align: left;
padding-top: 90px;
margin-left: 60px;
font-family: "宋体";
font-size: 20px;
font-weight: bold;
}
.imgDocArea
{
    width: 1000px;
margin-left: auto;
margin-right: auto;
height: 450px;
margin-top: 30px;
border: 1px solid gray;
}
.btnArea
{
    height: 40px;
position: fixed;
width: 100%;
bottom: 0px;
background-color: white;
    opacity:0.60;
}
.btns
{
    width: 310px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px; 

}
.button_Bottom
{
    border: 1px solid #b0b0b0;
background: url(../images/aqi/btn_bg.jpg) repeat-x;
font: 12px/20px "宋体";
padding: 0 15px;
margin-left: 5px;
margin-top: 3px;
color: black;
height: 25px;
line-height: 25px;
width: 40px;
text-align: center;
float: left;
}
.button_Bottom:hover
{
    cursor:pointer;
}
.topBtns
{
    margin-top: 5px;
}
.hidtoryBtn
{
    width: 90px;
height: 30px;
line-height: 30px;
color: white;
background-color: #1695AF;
border-radius: 10px;
margin-left: 30px;
}
.wordBtn
{
    width: 80px;
height: 30px;
background-color: white;
float: left;
margin-right: 20px;
line-height: 30px;
}
.historyTd
{
    width: 10%;
}
.typeTd
{
}
.timeTd
{
}
.btnTd
{
}
.hidtoryBtn:hover,.wordBtn:hover
{
    cursor:pointer;
}
.hidtoryBtn:hover
{
    background-color:#5f9ea0;
}
.wordBtn:hover
{
    background-color:#006400;
    color:White;
}
.titleAndOra
{
    height: 30px;
border-bottom: 4px solid red;
width: 750px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}
.bottomText
{
    width: 750px;
height: 90px;
border-bottom: 3px solid Red;
margin-left: auto;
margin-right: auto;
}
.secondPage
{
    margin-top:20px;
        width: 950px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
background-color: #FFF;
height: 1300px;
}
.bottomEditor
{
    height: 50px;
width: 750px;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
font-size: 20px;
font-family: "仿宋";
font-weight: bold;
} 
.bottomEditor input
{
    font-size: 20px;
font-family: "仿宋";
font-weight: bold;
border: 0px;
}
.firstImg
{
    margin-left: 40px;
}
.recImg
{
    width:50%;
    height:400px;
    float: left;

}
.selBtn
{
    width: 50%;
height: 500px;
float: right;

}
.selLocalBtn
{
    width:200px;
    height:200px;
    background-color:#f5f5dc;
}
.selLocalBtn:hover
{
    cursor:pointer;
    background-color:#d3d3d3;

}
.replaceBtn
{
    width: 90px;
height: 35px;
background-color: gray;
border-radius: 10px;
text-align: center;
line-height: 35px;
margin-left: auto;
margin-right: auto;
}
.replaceBtn:hover
{
    cursor:pointer;
}
.selDisImg
{
    width:300px;
    margin-left:auto;
    margin-right:auto;
}
.selImgArea
{
    width:100%;
    height:300px;
    text-align: center;
    margin-top: 60px;
}
.issue span
{
    
}
.tableTitle
{width: 750px;
text-align: center;
margin-left: auto;
margin-right: auto;
font-size: 20px;
font-family: "仿宋";
font-weight: bold;
    margin-top: 20px;
}
.wordContent input,.secondPage input
{
    border:0px;
    text-align: center;
}
.wordContent td
{
    width:90px;

}
.dateCell
{
    width: 90px;
    font-family: "仿宋";
font-size: 16px;
}
.bottomEditor input
{
    width: 90px;
}
.phone
{
    float: left;
width: 250px;
}
.secondPage .tableTitle
{
    padding-top:90px;
}
.secondPage .contentTextBox
{
    height:500px;line-height: 2;
}
.wordContent .tableTitle
{
    border-bottom:1px solid Blue;
}
.wordContent .titleBottomLine
{
   background-color:Yellow; 
}
.secondPage .tableTitle,.secondPage .titleBottomLine
{
    border-bottom:1px solid Blue;
}
table
{
    border-spacing:0
}
.organization
{
    width: 750px;
margin-left: auto;
margin-right: auto;
font-size: 22px;
font-family: "仿宋";
}
.contentTable input
{
    font-family: "仿宋";
font-size: 14px;
}
#PO_Signer
{
font-size: 22px;
font-family: "仿宋";
width: 90px;
}
.firstTable
{
   border-bottom:1px solid black; 
}
.secondTable
{
    border-bottom:1px solid Green; 
}
.bg
{
    
}
.hidden
{
    
}
.display
{
    
}
.previewImg
{
    width: 100%;
    margin-top:15px;
}
#showImg
{
    position: absolute;
top: 20px;
width:750px;
z-index: 333;
}
.bg{display:none;position:fixed;width:100%;height:100%;background:#000;z-index:2;top:0;left:0;opacity:0.5;}
.show{position:fixed;top:0;z-index:3;cursor:pointer;width:80%;height:100%;left:10%;}
.closeBtn
{
    position: absolute;
top:36px;

width: 32px;
height: 32px;
background: White url(images/imageViewer/x-n.png) no-repeat center;
z-index: 333;
display:none;
    
}
.closeBtn:hover
{
    cursor:pointer;
    background-image:url(images/imageViewer/x-v.png)
}
.topFixed
{
    overflow-y: hidden;
position: fixed;
background-color: #ebebeb;
height: 80px;
width:100%;
z-index:333;
}
.contentTable td
{
    font-family:"黑体";
    border:1px solid Black;
    width:90px;
    font-size: 20px
}
.cityCell
{
    width:90px;
}
#PO_docDate
{
    width:300px;
}
#Po_TodayDate
{
   width: 500px;
height: 30px;
border: 0px;
font-family: "宋体";
font-size: 25px;
text-align: center;
font-weight: bold;
}
.docDate span
{
    
}