body 
{
    background-color: #ebebeb;
        margin:0;
    padding:0;  
}
.totalContent
{
    
}
.outLine
{

    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}
.shArea
{
width: 1340px;
height: 380px;
margin-left: auto;
margin-right: auto;
background-color: White;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
}
.displayItem
{
width: 220px;
height: 160px;
float: left;
background-color: #EAEAEF;
margin-left: 30px;
margin-top: 10px;
border-radius: 50px;
}
.eastChinaArea
{
    width:1340px;
    height:220px;
    margin-left:auto;
    margin-right:auto;
    background-color:White;
    margin-top:10px;
}
.mapTitle
{
width: 100%;
height: 30px;
color: #7e8181;
font-family: "宋体";
font-size: 14.5px;
line-height: 30px;
background-color: #f0f8f6;
font-weight:bold;
}
.titlePoint
{
   width: 20px;
height: 30px;
height: 100%;
background: url(../AQI/img/y.png) no-repeat center;
float: left;     
}
.partTitle
{
    color:#7e8181;
    font-family:"宋体";
    font-size:14.5px;
}
.innerContent
{
    height:80px;
    width:100%;
    margin-top:10px;
    border-top:2px dashed White;

}
.singleTitle
{
    text-align: center;
margin-top: 15px;
}
.singleConDis
{
    text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 2px;
width: 140px;
height: 30px;
}
.condition
{
    float: left;
width: 60px;
height: 30px;
line-height: 30px;
background-color: #EA6556;
color: white;
}
.pubTime
{
    float: left;
width: 80px;
height: 30px;
line-height: 30px;
background-color: white;
}

.saved
{
        float: left;
width: 60px;
height: 30px;
line-height: 30px;
background-color: Orange;
color: white;
}

.update
{
        float: left;
width: 60px;
height: 30px;
line-height: 30px;
background-color: #00ced1;
color: white;
}

.undone
{
float: left;
width: 60px;
height: 30px;
line-height: 30px;
background-color: #EA6556;
color: white;
}

.success
{
        float: left;
width: 60px;
height: 30px;
line-height: 30px;
background-color: Green;
color: white;
}

.pub_notCompleted
{
        float: left;
width: 60px;
height: 30px;
line-height: 30px;
background-color: Purple;
color: white;
}
.condition:hover
{
    cursor:pointer;
}
.eastChinaArea .displayItem
{
    margin-right: 50px;
}

 
