body 
{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
     min-width:1230px;
}
.textPrev
{
    height:100%;
    width:100%;
}
.aqiPeriodDetail
{
    width:100%;
    text-align:center;
}
