body { 
	font-family:"微软雅黑","宋休",Verdana;
	font-size: 14.5px;
	line-height: 25px;
	overflow-x: hidden;
	padding:0;
    margin:0;
}
.top {
    margin-top: 10px;
}
.f {
    float: left;
}
label {
    margin-top: 5px;
    text-align: right;
}