/* CSS Document */
*{ margin:0; padding:0}
a,img{border:0;}
.hidden{ display:none;}
::-webkit-scrollbar {
    width:6px;
    height:6px;
    display:block;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border:1px solid #fff;
    background-color:#f7f4f4;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color:#EAEAEA;
}
::-webkit-scrollbar-thumb:hover {
    background-color:#00cc33;
}
::-webkit-scrollbar-thumb:vertical:active{
    background-color:#0c9a0c;
}
::-webkit-scrollbar-thumb:horizontal:active{
    background-color:#0c9a0c;
}
::-webkit-scrollbar-thumb:window-inactive {
}



.tab1{border-top:#ccc solid 1px;}
.menu{height:35px;
border-right:#ccc solid 1px; font-size:14px;
}
.menu li{float:left;width:100px;text-align:center;line-height:28px;height:28px;cursor:pointer;color:#666;overflow:hidden;background:rgba(222, 236, 253, 0);}
.menu li.off{background:#ddd;color:#248eca;font-weight:bold; border-bottom:none;}
.menudiv{border-left:#cccccc solid 1px;border-right:#cccccc solid 1px;border-top:0;background:#fefefe}
.menudiv div{padding:15px;line-height:28px;}
ul{ list-style:none}
img{ border:0}


a{ color:#333333; text-decoration:none;	}
a:hover{ color:#333333; text-decoration:underline;}
.content
{
    width:100%;
    margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
.contentA
{
    width:100%;
    margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	height:80px;
}
.pictitLi{color:#fff;background:#11b66d;width:112px;height:29px;display:block;line-height:29px;}
.pictitA{width:112px;height:29px;display:block;line-height:29px;background:#fff; color:#333; cursor:pointer;}


.selectDateFormStyle:hover{
	background-image: url(../rl-v.png) ;
}

.radio
{
}
.cityHtml
{
    position:absolute;
    display:none;
}

.cx_from{ font-size:12px; margin-top:5px;}
.cx_from td{ height:32px; color:#333333;}
.cx_from span{ color:#FF0000;}
.cx_from img{ border:none; vertical-align:middle;}
.cx_from a{ text-decoration:none; color:#333333; margin-right:5px;}
.cx_from a:hover{ text-decoration:underline;}

.cityflip:link {FONT-SIZE: 12px; COLOR: #0055aa; TEXT-DECORATION: none}
.cityflip:active {FONT-SIZE: 12px; COLOR: #0055aa; TEXT-DECORATION: none}
.cityflip:visited {FONT-SIZE: 12px; COLOR: #0055aa; TEXT-DECORATION: none}
.cityflip:hover {FONT-SIZE: 12px; COLOR: #0055aa; TEXT-DECORATION: underline}
#form_cities {BORDER-RIGHT: #7F9DB9 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7F9DB9 1px solid; DISPLAY: none; PADDING-LEFT: 2px; LEFT: 0px; PADDING-BOTTOM: 2px; BORDER-LEFT: #7F9DB9 1px solid; WIDTH: 100px; PADDING-TOP: 2px; BORDER-BOTTOM: #7F9DB9 1px solid; FONT-FAMILY: Arial; POSITION: absolute; TOP: 55px; BACKGROUND-COLOR: #ffffff;}
#form_cities2 {position: absolute; top: 140px; left: 138.5px;display:none;FONT-FAMILY: Arial;}
#top_cities { PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #666666; PADDING-TOP: 2px; BORDER-BOTTOM: gray 1px dashed}
#panel_cities {COLOR: #0055aa; FONT-FAMILY: Arial; HEIGHT: 149px}
#panel_cities DIV {PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 1px 0px; CURSOR: pointer; PADDING-TOP: 2px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right}
#panel_cities SPAN {PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #0055aa; PADDING-TOP: 1px}
.cityline {BORDER-TOP: white 1px solid; COLOR: #666666; BORDER-BOTTOM: white 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: white}
.citylineover {BORDER-TOP: #68a7f6 1px solid; BORDER-BOTTOM: #68a7f6 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #c8e3fc}
.lalign {FLOAT: right; TEXT-ALIGN: right}
.ralign {FLOAT: left; TEXT-ALIGN: left}
#flip_cities {PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center}
#flip_cities2 {PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-ALIGN: right}

.clx{*zoom:1}
.clx:after{clear:both;content:".";display:block;height:0;visibility:hidden;color:#131313}
.com_hotresults{padding:0;margin:0;z-index:99998;text-align:center;font-size:12px;border:#aaa solid 1px;position:relative;background:#FFF}
.com_hotresults ul{padding:0;margin:0;list-style-position:outside;list-style:none;z-index:100}
.com_hotresults1{padding:0;margin:0;z-index:99998;text-align:center;font-size:12px;border:#aaa solid 1px;position:relative;background:#FFF}
.com_hotresults1 ul{padding:0;margin:0;list-style-position:outside;list-style:none;z-index:100; text-align:left;}
.com_hotresults li{padding:2px 0 0 0;margin:0;height:25px;line-height:25px;float:left;cursor:pointer;display:block;font-size:12px;overflow:hidden;text-align:center;vertical-align:middle}
.com_hotresults1 li{padding:2px 0 0 0;margin:0;height:25px;line-height:25px;cursor:pointer;display:block;font-size:12px;overflow:hidden;vertical-align:middle; padding-left:5px;}
.com_hotresults .ac_odd{background-color:#fff}
.com_hotresults .ac_over{color:#316AC5;font-weight:bolder;background-color:#FFF}
.com_hotresults .ac_title{margin:1px;margin-bottom:3px;border-width:0;border-bottom:dotted 1px #ddd;padding:6px 0 5px 5px;text-align:left;background-color:#E8F0F6;position:relative;z-index:100}
.com_hotresults_en{padding:1px;margin:0;z-index:99998;text-align:center;border:#aaa solid 1px;position:relative;background:#FFF}
.com_hotresults_en ul{padding:0;margin:0 0 5px 0;list-style-position:outside;list-style:none}
.com_hotresults_en li{padding:2px 0 0 0;margin:0;height:25px;line-height:25px;float:left;cursor:pointer;display:block;font-size:12px;overflow:hidden;text-align:center;vertical-align:middle}
.com_hotresults_en .ac_odd{background-color:#fff}
.com_hotresults_en .ac_over{color:#316AC5;font-weight:bolder;background-color:#FFF}
.com_hotresults_en .ac_title{margin:0;margin-bottom:3px;border-width:0;border-bottom:dotted 1px #ddd;padding:6px 0 5px 5px;text-align:left;background-color:#E8F0F6;position:relative;z-index:100}
.com_hotresults .com_cbox_lb{width:5px;height:5px;position:absolute;left:-1px;bottom:-1px;_bottom:-12px;background-position:-32px -6px}
.com_hotresults .com_cbox_rb{width:5px;height:5px;position:absolute;bottom:-1px;_bottom:-12px;right:-1px;background-position:-38px -6px}
.com_hotresults a.ac_close{position:absolute;top:6px;right:9px;text-indent:-9999em;display:block;width:17px;font:1px/1px arial;height:17px;background:url(../close_show_citys.jpg) 0}
.com_hotresults a.ac_close:hover{background-position:0 -1px}
.com_hotresults_en a.ac_close{position:absolute;top:10px;right:9px;text-indent:-9999em;display:block;width:17px;font:1px/1px arial;height:17px;background:url(../close_show_citys.jpg)  0}
.com_hotresults_en a.ac_close:hover{background-position:0 -1px}
a.ac_close{position:absolute;top:6px;right:9px;text-indent:-9999em;display:block;width:17px;font:1px/1px arial;height:17px;background:url(../close_show_citys.jpg)  0}
a.ac_close:hover{background-position:0 -1px}
.AbcSearch{margin-left:5px!important;margin-top:5px!important;border-bottom:#D7D7D7 solid 1px}
.AbcSearch li{width:44px;padding:0 8px;color:#00206f}
.AbcSearch .action{border:#d7d7d7 1px solid;font-weight:bold;color:#131313;border-bottom:#fff 1px solid;margin-bottom:-1px;position:relative}
.AbcSearch_en{margin-left:5px!important;margin-top:5px!important;border-bottom:#D7D7D7 solid 1px}
.AbcSearch_en li{width:auto;padding:0 6px;color:#00206f}
.AbcSearch_en .action{border:#d7d7d7 1px solid;border-bottom:#fff 1px solid;font-weight:bold;color:#131313;margin-bottom:-1px;position:relative}
ul.popcitylist{overflow:hidden;zoom:1;margin-left:6px;*margin-left:6px;margin-left:6px\9;_margin-left:1px}
ul.popcitylist2{overflow:hidden;zoom:1;margin-left:6px;*margin-left:6px;margin-left:6px\9;_margin-left:1px}
ul.popcitylist li{text-align:left;width:65px;overflow:hidden;margin:0 6px}
ul.popcitylist2 li{text-align:left;width:65px;overflow:hidden;margin:0 6px}
#ac_odd {background-color: #FFFFFF;}
#ac_over {color:#316AC5;font-weight:bolder;background-color:#FFF;}

.input_20txt_gray{ height:20px; background:url(../input_bg.gif) no-repeat left top; font-size:12px; color:#999; padding:0 2px; line-height:20px; border-top:1px solid #C2C2C2; border-left:1px solid #C2C2C2; border-botton:1px solid #EAEAEA; border-right:1px solid #EAEAEA; text-align:left;}
.input_20txt{ height:20px; background:url(../input_bg.gif) no-repeat left top; font-size:12px; color:#333333; padding:0 2px; line-height:20px; border-top:1px solid #C2C2C2; border-left:1px solid #C2C2C2; border-botton:1px solid #EAEAEA; border-right:1px solid #EAEAEA; text-align:left;}

.pictit ul:after
{
     content: "."; 
     display: block; 
     height: 0; 
     clear: both; 
     visibility: hidden; 
}
.pictit{padding:0 0; clear:both; width:795px; margin:10px auto;}
.pictit ul{}
.pictit ul li{float:left;text-align:center;display:block;width:112px;height:29px;border:1px solid #c4c7c6;margin-right:-1px;}
.pictit ul li a:hover
{
    color: #fff;
    background: #11b66d;
    text-decoration: none;
}


.tabletitle{
	background-color: #d5dcdf;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C9C9C9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C9C9C9;
	line-height: 24px;
	height: 24px;
	width: 9%;
	text-align: center;
	font-size: 14px;
	padding: 2px;
	white-space:nowrap;
}
.tabletitle2{
	background-color: #d5dcdf;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C9C9C9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C9C9C9;
	line-height: 24px;
	height: 24px;
	width: 9%;
	text-align: center;
	font-size: 14px;
	padding: 2px;
	white-space:nowrap;
}
.tablerow{
	
	border-bottom:solid 1px #c9c9c9;
	border-right:solid 1px #c9c9c9;
	line-height: 26px;
	height: 26px;
	width: 8%;
	text-align: center;
	font-size: 13px;
	padding: 2px;
	white-space: nowrap;
	
}

.topselect{background-color:#dfe4e5;padding:0px 0px;font-size:15px; }
.queryLable{ line-height: 36px; height: 36px; padding:0 10px;}
.queryLable input{ padding:0 3px; margin-top:0px; margin-left:4px;}
.queryLablebtn{ line-height: 28px; height: 28px;}
.theBtn{ font-size:15px; cursor:pointer; text-align:center; background-color:#fff; border:1px solid #D6D6D6; margin:4px 0px; padding:0 10px;}
.theBtn:hover{ background-color:#11B66D; color:#fff; }
.theBtnmini{ font-size:15px; cursor:pointer; text-align:center; background-color:#fff; border:1px solid #D6D6D6; margin:4px 0px; padding:0px 5px;}
.theBtnmini:hover{ background-color:#11B66D; color:#fff;}


.fl,.fr {display:inline;}
.fl {float:left;}
.pl20 { padding-left:20px;}
.pl10 {padding-left:10px;}
.fr {float:right;}
.radioBtn{margin:0 5px;}
.ti5{ text-indent:5px;}
.ti10{ text-indent:10px;}
.fs10{ font-size:10px;}
.fs15{ font-size:15px;}

.queryBack{ border:1px solid #D6D6D6; margin-left:0px;}
.DownListBack{ position:absolute; z-index:100; border:1px solid #aaa; background-color:#fff; display:none;}
#mainLayout{ width:100%; margin:0 auto; overflow:hidden;}
#ssNorth{ height:38px;}
#perCharts{display:none;}
.boderRadiu{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.sb{ background-repeat:no-repeat; background-position:0 center;}
.checkBox{ width:16px; height:16px; position:relative;left:5px; top:25%;}
.checked{background-image:url(../checked.gif); }
.unchecked{background-image:url(../unchecked.gif); }
.h36{ height:36px; line-height:36px;}
.pl10{ padding-left:10px;}
#PmTab{display:none; }
.theTab{ border:1px solid #D6D6D6; padding:6px 10px; width:110px; text-align:center; margin:2px 0px; font:15px; cursor:pointer;}
.theTab:hover{ background-color:#11B66D;}
.act{ background-color:#339966; color:#fff; cursor:default;}
.subtitle{ font-size:15px; text-align:center;line-height: 28px; height: 28px;}
/*  city&station downlist more choose  */
.checkBoxMenu{ width:260px; height:auto; max-height:300px; overflow:hidden; overflow-y:auto;}
.DownListLabel,.DownListheader {line-height: 36px; height: 36px; padding:0 10px;}
.checkBoxMenu p span.DownListLabel{ display:inline-block; width:100px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; }
.checkBoxMenu p span.DownListLabel label{ width:auto; }
.checkBoxMenu p span.DownListLabel label:hover{ text-decoration:underline; color:#D6D6D6;}
.checkBoxMenu p span.DownListLabel input,.checkBoxMenu p span.DownListLabel label{ cursor:pointer;}
.checkBoxMenu p span.DownListLabel input[type=checkbox]{line-height: 36px; height: 36px; }
/*  city&station downlist single choose  */
.DownListMenu{position: relative; padding:0 10px;width: 460px;background: #ffffff;height:auto; max-height:300px; overflow:hidden; overflow-y:auto;}
.DownListMenu .dlm-wrap{box-sizing: border-box;width: 440px;margin: 0 auto;padding: 0;color: #666666;font-family: "Microsoft YaHei";font-size: 14px;}
.DownListMenu ul{list-style: none;}
.DownListMenu ul li{display: inline-block;position: relative;margin: 5px;}
.DownListMenu .dlm-wrap ul li{width: 100px;height: 30px;text-align: center;line-height: 30px;color: #999999;background-color: #f5f5f5;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.DownListMenu .dlm-wrap ul li.selected{color: #e4393c;}
.DownListMenu .dlm-wrap ul li.unselected{color: #999999;cursor: pointer;}
.DownListMenu .dlm-wrap ul li.unselected:hover{color: #e4393c;}


.DownListMenu ul li.pageShow{width:99%; cursor:pointer;}
.DownListMenu ul li.pageShow:hover { background-color:#f2f2f2;}
/* * * * * * * * * * * * * * * * * * * * * * *
---------------- 顶部图表菜单 ---------------- 
* * * * * * * * * * * * * * * * * * * * * * */

/*  superstation downlist menu  */
.pm25menu{ float:left;}
.pm25menu .toparrow,.pm25menu .bottomarrow{width:0;height:0;font-size:0;line-height:0; position:relative;}
.pm25menu .toparrow em{width:0;height:0;font-size:0;line-height:0; position:relative; border:5px solid transparent;border-style:dashed dashed solid dashed}
.pm25menu .bottomarrow em{width:0;height:0;font-size:0;line-height:0; position:relative; border:5px solid transparent;border-style:solid dashed dashed dashed}
.pm25menu .toparrow em{border-bottom-color:#2f2e2e; top:-8px; left:2px; }
.pm25menu .bottomarrow em{border-top-color:#2f2e2e; top:-3px; left:2px; }
.pm25menu:hover .toparrow em{border-bottom-color:#fff;}
.pm25menu:hover .bottomarrow em{border-top-color:#fff;}
.queryLableMenubtn{ line-height: 38px; height: 38px;}
.theMenuBtn{ display:inline-block; font-size:15px; cursor:pointer; text-align:center; background-color:#fff;padding:0 10px; width:100px; }
.theMenuBtn:hover{ background-color:#11B66D; color:#fff;}
.pgwMenuCustom,.pgwMenuCustom2{background: #fff; height: 36px; position: relative; list-style: none; display: block;}
.pgwMenuCustom ul,.pgwMenuCustom2 ul{list-style: none; white-space: nowrap; margin: 0; padding: 0; display: block;}
.pgwMenuCustom li,.pgwMenuCustom2 li{float: left; width:120px; text-align:center;}
.pgwMenuCustom2{float:none;}
.pgwMenuCustom li:not(:last-child),.pgwMenuCustom2 li:not(:last-child){border-right:1px solid #ccc;}
.pgwMenuCustom a.selected ,.pgwMenuCustom2 a.selected{background: #11B66D; color:#fff;}
.pgwMenuCustom a ,.pgwMenuCustom2 a{display: block; color: #999; line-height: 36px; padding: 0 10px; text-decoration: none;}
.pgwMenuCustom li a:hover ,.pgwMenuCustom2 li a:hover{background: #2cc983; text-decoration: none; color:#fff;}

/* * * * * * * * * * * * * * * * * * * * * * * 
---------------- 顶部图表菜单 ---------------- 
* * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * *
---------------- 右侧图表菜单 ---------------- 
* * * * * * * * * * * * * * * * * * * * * * */

/*  superstation rightside menu  */
#timePanelNav{}
#timePanelNav li{float:left;text-align:center;}
#timePanelNav li a{float:left;width:100px;color:#336601;text-decoration:none;padding:3px 5px 0 5px;}
#timePanelNav li a:hover{float:left;width:88px;color:#fff;background:#539d26;text-decoration:none;padding:3px 3px 0 20px;}
#timePanelNav li a b{display: inline-block; position: relative; font-weight: normal;}
#timePanelNav li a em{}
.tp_list{font-weight:normal;line-height:20px;text-align:center;padding:4px;}
.tp_menu1{border:#9cdd75 1px solid;overflow-y:hidden;margin:6px 1px 0px 10px;width:120px;cursor:pointer;color:#336601;padding-top:6px;background:#f1fbec;moz-opacity:0.7;filter:alpha(opacity=70);opacity:0.7;}
.tp_menu2{border:#eee8dd 1px solid;overflow-y:hidden;margin:6px 1px 0px 10px;width:120px;cursor:pointer;color:#999;padding-top:6px;height:18px;background:#f5f5f5;}

/* * * * * * * * * * * * * * * * * * * * * * *
---------------- 右侧图表菜单 ---------------- 
* * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * *
---------------- 左侧图表菜单 ---------------- 
* * * * * * * * * * * * * * * * * * * * * * */

.chartTxtDes{ display:inline-block;border:none; }
.super-btn-success {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.super-btn {
    display: inline-block;
    zoom: 1;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: 2px 5px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.super-btn-success:hover {
    background: #538018;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
    background: -moz-linear-gradient(top, #6b9d28, #436b0c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.super-btn:hover {
    text-decoration: none;
}

/* * * * * * * * * * * * * * * * * * * * * * *
---------------- 左侧图表菜单 ---------------- 
* * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * *
---------------- 城市选项列表 ---------------- 
* * * * * * * * * * * * * * * * * * * * * * */
.hzw-city-picker{
	position: absolute;
	border: 2px solid #c9cbce;
	width: 552px;
	background: #ffffff;
	z-index: 999999;
	font-size: 0;
}
.hzw-city-picker:before, .hzw-city-picker:after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
	position: absolute;
	left: 20px;
	z-index: 999999;
}
.hzw-city-picker:before{
	border-color: transparent transparent #ffffff;
	top: -17px;
	z-index: 9999999;
}
.hzw-city-picker:after{
	border-color: transparent transparent #c9cbce;
	top: -20px;
}
.hzw-city-picker *{
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	color: #666666;
	font-family: "Microsoft YaHei";
	font-size: 14px;
}
.hzw-city-picker ul{
	list-style: none;
}
.hzw-city-picker ul li{
	display: inline-block;
	position: relative;
	margin: 4px;
	cursor: pointer;
}
.hzw-city-picker p{
	font-weight: bold;
	padding: 0 4px;
	margin-top: 4px;
	margin-bottom: 10px;
}
.hzw-city-picker .line{
	width: 522px;
	margin: 0 auto;
	margin-top: 4px;
	margin-bottom: 4px;
	border-bottom: 1px solid #d8d8d8;
}

/*热门城市*/
.hzw-city-picker .hzw-hot-wrap{
	width: 100%;
	background: #ffffff;
	padding: 9px;
}
.hzw-city-picker .hzw-hot-wrap ul li{
	width: 68px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #666666;
	background-color: #f5f5f5;
}
.hzw-city-picker .hzw-hot-wrap ul li:hover{
	color: #ff00ff;
}

/*选择省份*/
.hzw-city-picker .hzw-wrap{
	position: relative;
	width: 100%;
	background: #ffffff;
	padding: 9px;
}
.hzw-city-picker .hzw-province-name{
	display: inline-block;
	width: 68px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	position: relative;
	background-color: #f5f5f5;
}
.hzw-city-picker .hzw-province-name:hover{
	color: #ff00ff;
}

.hzw-city-picker .hzw-province.active{
	z-index: 999999999;
}
.hzw-city-picker .hzw-province-name.active{
	border: 1px solid #D8D8D8;
	border-bottom-color: #ffffff;
	color: #ff00ff;
	background-color: #ffffff;
}
.hzw-city-picker .hzw-city-wrap{
	display: none;
	border: 1px solid #D8D8D8;
	background: #ffffff;
	position: absolute;
	top: 29px;
	width: 488px;
	padding: 10px;
}
.hzw-city-picker .hzw-city{
	width: 68px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #999999;
	background-color: #f5f5f5;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.hzw-city-picker .hzw-city:hover{
	color: #ff00ff;
}
/* * * * * * * * * * * * * * * * * * * * * * *
---------------- 城市选项列表 ---------------- 
* * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * *
---------------- table ---------------- 
* * * * * * * * * * * * * * * * * * * * * * */

#theTableDiv
{
}

#theTableDiv table
{
    width:100%;
    margin:0 auto;
    empty-cells:show; 
    border-collapse: collapse;
    font-size:14px; 
    border:none; 
    color:#666;
}
#theTableDiv table th,#theTableDiv table td
{
    font-size:15px; 
    font-weight:bold;
    color:#000; 
    height:26px;
    background:#f2f2f2;
    border:1px solid #fff;
    text-align:center;
}
#theTableDiv table th,#theTableDiv table td
{
    height:26px;
}

/* * * * * * * * * * * * * * * * * * * * * * *
---------------- table ---------------- 
* * * * * * * * * * * * * * * * * * * * * * */

