<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>myweb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="conStr_SEMC_dmc" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=semc_dmc;User ID=sa;Password=123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\conStr_SEMC_dmc_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="User ID=sa;Password=123456;Initial Catalog=semc_dmc;Data Source=localhost;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DBCONFIGIII" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(local);Initial Catalog=EMFCShare;Persist Security Info=True;User ID=Sa;Password=123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBCONFIGIII_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(local);Initial Catalog=EMFCShare;Persist Security Info=True;User ID=Sa;Password=123456" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="pudong_con" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.57,5990;Initial Catalog=Aws_Pudong;Persist Security Info=True;User ID=sa;Password=diting2015" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\pudong_con_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.57,5990;Initial Catalog=Aws_Pudong;Persist Security Info=True;User ID=sa;Password=diting2015" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DBCONFIGII" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(local);Initial Catalog=EMFCShare;Persist Security Info=True;User ID=sa;Password=123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBCONFIGII_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(local);Initial Catalog=EMFCShare;Persist Security Info=True;User ID=sa;Password=123456" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="JXDBCONFIG" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=SEMC_JiangXi;Persist Security Info=True;User ID=sa;Password=123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\JXDBCONFIG_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=SEMC_JiangXi;Persist Security Info=True;User ID=sa;Password=123456" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="UVDBCONFIG" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=SEMC1;Persist Security Info=True;User ID=sa;Password=123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UVDBCONFIG_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=SEMC1;Persist Security Info=True;User ID=sa;Password=123456" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WebService" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=server3:8080;Initial Catalog=smemclocal;Persist Security Info=True;User ID=it_db;Password=itdbadmin;Psd=20130901" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WebService_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=server3:8080;Initial Catalog=smemclocal;Persist Security Info=True;User ID=it_db;Password=itdbadmin;Psd=20130901" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DBCONFIG2" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.57,5678;Initial Catalog=EMFCShare;Persist Security Info=True;User ID=Sa;Password=Diting2015" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBCONFIG2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.57,5678;Initial Catalog=EMFCShare;Persist Security Info=True;User ID=Sa;Password=Diting2015" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DBCONFIG" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(local);Initial Catalog=EMFCShare;Persist Security Info=True;User ID=Sa;Password=123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBCONFIG_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(local);Initial Catalog=EMFCShare;Persist Security Info=True;User ID=Sa;Password=123456" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SEMCAIR" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=Rainf;Persist Security Info=True;User ID=sa;Password=123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SEMCAIR_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=Rainf;Persist Security Info=True;User ID=sa;Password=123456;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SEMCDMC" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=semc_dmc;Persist Security Info=True;User ID=sa;Password=605" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SEMCDMC_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=semc_dmc;Persist Security Info=True;User ID=sa;Password=605" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SEMCDMS" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=semc_dms;Persist Security Info=True;User ID=sa;Password=605" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SEMCDMS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=semc_dms;Persist Security Info=True;User ID=sa;Password=605" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Tencent" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="CallbackUrl=www.sepb.gov.cn;AppKey=801267024;AppSecret=a9283b62b7f9d0321eddea5428ae6fea;TokenKey=ba14b2aa9196fa5af4b2bf7817dae573;TokenScrect=02373CDC10A89A075351C782B52D9FFD" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Tencent_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="CallbackUrl=www.sepb.gov.cn;AppKey=801267024;AppSecret=a9283b62b7f9d0321eddea5428ae6fea;TokenKey=ba14b2aa9196fa5af4b2bf7817dae573;TokenScrect=02373CDC10A89A075351C782B52D9FFD" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AQIWEB" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=SEMC_AQI_Web;Persist Security Info=True;User ID=sa;Password=605" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AQIWEB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=SEMC_AQI_Web;Persist Security Info=True;User ID=sa;Password=605" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MySQL" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=www.ensoweather.com;Database=weatheregg;UserID=enso_csj;Password=enso_csj;charset='utf8';pooling=true;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MySQL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=www.ensoweather.com;Database=weatheregg;UserID=enso_csj;Password=enso_csj;charset='utf8';pooling=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Sina" Order="16" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="CallbackUrl=www.readearth.com.cn;AppKey=1421629032;AppSecret=5679d600c98bac084d0c8934d48d2f65;User=zql850414;Password=88493379a" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Sina_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="CallbackUrl=www.readearth.com.cn;AppKey=1421629032;AppSecret=5679d600c98bac084d0c8934d48d2f65;User=zql850414;Password=88493379a" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MAS" Order="17" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.11.72;Initial Catalog=mas;Persist Security Info=True;User ID=juguang;Password=jg2013;APICode=juguang" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MAS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.11.72;Initial Catalog=mas;Persist Security Info=True;User ID=juguang;Password=jg2013;APICode=juguang" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AQIWEB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)conStr_SEMC_dmc-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBCONFIG-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBCONFIG2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBCONFIGII-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBCONFIGIII-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JXDBCONFIG-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MAS-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MySQL-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)pudong_con-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SEMCAIR-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SEMCDMC-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SEMCDMS-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Sina-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Tencent-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UVDBCONFIG-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebService-Web.config Connection String" />
  </ItemGroup>
</Project>