body, #fileExplorer
{
	 margin-left:auto;
     margin-right:auto;
	padding: 0px;
	
	width: 1000px;
	font-size: 13px;
}
#tree
{
	width: 220px;
	overflow-x: scroll;
	float: left;
	white-space: nowrap;
}
#rightPanel
{
     margin-left:auto;
     margin-right:auto;

	 width: 758px;
	top: 0px;
	left: 120px;
}
#path
{
	padding-top: 10px;
	clear: both;
}
#pathString
{
	font-weight: bold;
}
#menu
{
}
.menuItem
{
	float: left;
	width: 50px;
	height: 60px;
	text-align: center;
	cursor: pointer;
	border: solid 1px #eee;
	margin: 3px;
}
.menuItemImg
{
	width: 32px;
	height: 32px;
}
.tipText
{
	width: 50px;
	font-size: 13px;
	text-align: center;
	height: 13px;
}
#fileListHead
{
	background-color: #efefef;
	text-align:left;
	margin-left:-10px;
}
#fileListHeadII
{
	background-color: #efefef;
	text-align:left;
     margin-left:-12px;
     font-weight: bold;
}

#fileListHead div
{
	background-color: #efefef;
	font-weight: bold;
}
.chkColumn
{
	float: left;
	padding-top: 1px;
	padding-bottom: 2px;
	text-align: center;
}
.fileType
{
	float: left;
	padding: 4px;
	width: 60px;
	text-align: center;
}
.fileType img
{
	width: 16px;
	height: 16px;
}
.fileName
{
	float: left;
	padding: 4px;
	width: 250px;
}
.fileSize
{
	float: left;
	padding: 4px;
	width: 70px;
}
.lastUpdate
{
	float: left;
	padding: 4px;
	width: 150px;
}
.rename
{
	float: left;
	text-align: center;
	padding: 4px;
	width: 50px;
}
#filelist
{
	overflow: auto;
	float: left;
	width: 700px;
}
.fileItem
{
	clear: both;
	border-bottom: solid 1px #ccc;
}

.fileItem:hover{background:#87CEEB;}



    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
